
<ion-content>
  <ion-router-outlet id="principal"></ion-router-outlet>
  
  <ion-tabs>
  <ion-tab-bar  slot="start" color="primary">
  
    <ion-tab-button tab="informacion">
      <ion-label id="letra">Información</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="solicitudes">
        <ion-label id="letra">Solicitudes</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="mensajes">
          <ion-label id="letra">Mensajes</ion-label>
        </ion-tab-button>
  
  
  </ion-tab-bar>
  
  
  
  </ion-tabs>
</ion-content>
