#circulo{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 70%;
    
}
#justificado{
    color:black;
}

#cabecera{
    background-color:rgb(135, 181, 212);
    text-align: center;
  }

  #letra-blanca{
    color:white;
    font-weight: bold;
  }
  #centrado{
    display:block;
    background-color: rgb(154, 207, 243);
    font-weight: bold;
    font-size: 20px;   
  }

  #centrado1{
    display:block;
    background-color: rgb(56, 144, 202);
    font-weight: bold;
    font-size: 20px;   
  }

  #texto{
      text-align: center;
      font-family: calibri;
      font-size: 20px;
  }

  #texto2{
      text-align: center;
      font-size: 22px;  
  }

  #centro{
      text-align: center;
  }