<ion-content>
  <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>PATO</ion-card-subtitle>
      </ion-card-header><br>
    
      <ion-card-content>
          <img src="assets/pato.jpg">
          <h2 id="texto">Estado: EN PROCESO</h2>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-header color="primary">
          <ion-card-subtitle>SAMY</ion-card-subtitle>
        </ion-card-header><br>
      
        <ion-card-content>
            <img src="assets/Samy.jpg">
            <h2 id="texto">Estado: Rechazado</h2>
        </ion-card-content>
      </ion-card>
</ion-content>
