#imagen{
    display: block;
    margin: auto;
    width: 100%;
}

#cabecera{
    background-color:rgb(135, 181, 212);
    text-align: center;
  }

#letra{
    color:black;
}

#letra1{
    font-size: 10px;
}