<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="selugar"></ion-back-button>
    </ion-buttons>
    <ion-title>VETERINARIAS</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-searchbar placeholder="Busca tu estado o cuidad" (ionChange)="buscar($event)"></ion-searchbar>
  <ion-card *ngFor="let vett of vete | filtrovete:texto" >
      <ion-card-header id="cabecera">
          <ion-card-title><b>{{vett.nombre}}</b></ion-card-title>
      </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            
            <br>
            <ion-img [src]="vett.logo" id="imagen"></ion-img>
          </ion-col>
          <ion-col size="7">
            <ion-label id="letra">{{vett.descripcion}}</ion-label><br>
            <ion-label id="letra">{{vett.ubicacion}}</ion-label><br>
          </ion-col>
          <ion-col size="12">
            <ion-button id="letra1" button [routerLink]="['/mapav',vett.id]" expand="full" shape="round">Click para ver mapa.</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
      </ion-card-content>   
    </ion-card>

    
</ion-content>

