
 #centro{
    text-align: center;
}


#centro2{
    text-align: center;
    color:rgb(107, 106, 106);
    background-color: rgb(240, 239, 239);
    font-weight: bold;
}

#imagen{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 70%;
}
