<ion-menu side="start" menuId="primerMenu" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
          <ion-item routerLink="/informacion">
            <ion-icon slot="start" name="md-person"></ion-icon>
            <ion-label>mi perfil</ion-label>
          </ion-item>
        <ion-item routerLink="/loginn">
          <ion-icon slot="start" name="paw"></ion-icon>
          <ion-label>inicio</ion-label>
        </ion-item>
        <ion-item routerLink="/veterinarias">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Veterinaria</ion-label>
        </ion-item>
        <ion-item routerLink="/tienda">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-item>
      
        
      </ion-list>
    </ion-content>
  </ion-menu>