
.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  #letra{
    font-size: 14px;
  }
  
  #color{
    color:red;
    font-size: 30px;
  }
  
  #icono{
    width: 50%;
    display: block;
    margin: auto;
  }

  #color3{
    font-size: 30px;
    color:blue;
  }
  
  #color2{
    color:rgb(194, 194, 69);
    font-size: 30px;
  }
  
  #centrado{
    display:block;
  }
  
  #centro{
    text-align: center;
  }
  
  #cabecera{
    background-color:rgb(135, 181, 212);
    text-align: center;
  }
  
  #letra-blanca{
    color:white;
    font-weight: bold;
  }